[General]
Show_Labels=false
Lines_Size=2
Update_Interval=5
Number_Chips=4

[Chip0]
Name=amdgpu-100
Number=0

[Chip1]
Name=coretemp-0
Number=1

[Chip1_Feature0]
Address=0
Name=Package id 0
Color=#00B000
Show=true
Min=0
Max=38

[Chip2]
Name=acpitz-0
Number=2

[Chip3]
Name=mt7921_phy0-300
Number=3

